html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Abel', sans-serif !important;
    font-weight: lighter;
  }

  #container{
  position: absolute;
    margin-top: 60px;
    margin-left: 360px;
}
  
  #container1{
    position: absolute;
    margin-top: 20px;
    margin-left: 360px;
}

  .container-show{
     width: 80%;
     height: 50%;
     margin-left: 150px;
     margin-right: 130px;
  }

  .label{
      margin-left: 20px;
  }

  #resp{
    display: none;
  }
  

  @media(max-width: 815px){

    #resp{
      display: block;
    }
    .container-show{
      text-align: center;
      margin-left:40px;
    }
  }

  @media(max-width: 815px) and (orientation:landscape){
    .container-show{
      text-align: center;
      margin-left:70px;
    }
  }