html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white !important;
    color:#000 !important;
}

body {
    font-family: "Quicksand" !important;
    overflow: hidden;
}

#nav{
    background: transparent !important;
}

nav #brand{
    float: right;
    display: block;
    margin-top: 20px;
    margin-left: 1258px;
    line-height: 80px;
    font-weight: bold;
    position: fixed;
}

nav #brand a{
    color: #000;
    transition: all 0.3s ease-out;
}


nav #brand a:hover{
    text-decoration: none;
}

#toggle{
    text-align: center;
    position: fixed;
    right: 47px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 1s ease-out; 
    margin-top: 85px;
 }

 #close-btn{
     position: absolute;
     right: 47px;
     z-index: 2;
     cursor: pointer;
     top: 80px;
     line-height: 80px;
 }
 
 #resize{
     z-index: 1;
     top: 0px;
     position: fixed;
     background: #fff;
     width: 100%;
     height: 100%;
     visibility: hidden;
     opacity: 0;
     transition: all 1s ease-out;
 }
 
 #resize #menu{
     height: 90px;
     position: absolute;
     left: 45%;
     transform: translateX(-40%);
     text-align: center;
     display: table-cell;
     vertical-align: center;
 }
 
 #resize #menu li{
     display: block;
     text-align: center;
     padding: 10px 0px;
     margin-left: 50px;
     font-size: 35px;
     min-height: 50px;
     font-weight: lighter;
     cursor: pointer;
     transition: all 0.3s ease-out;
 }

 
 
 #resize li:nth-child(1) {
     margin-top: 140px;
 }
 
 #resize #menu li a{
     text-decoration: none;
     color:#000;
 }


 
 #resize #menu li a:hover{
     text-decoration: none;
     color: grey;
 }
 
 #resize.active{
     visibility: visible;
     opacity: 1;
 }

 #toggle.on {
     visibility: hidden;
     opacity: 0;
 }

 
 @media(max-width: 815px){
     #toggle{
         margin-top: 6px;
         margin-right: -14px;
         position: absolute;
     }
     #close-btn{
         top:1px;
         right: 34px;
     }
     #resize #menu li{
         padding-top: 30px;
         margin-top: 40px;
         margin-left: -47px;
         font-size: 20px;
         font-weight: lighter;
     }
     #resize li span{
         font-weight: bolder;
     }
     #resize #menu li a:hover{
        text-decoration: none;
        color: grey;
    }
   
     
 }

 @media(max-width: 815px) and (orientation:landscape){
    #toggle{
        margin-top: 6px;
        margin-right: -14px;
    }
    #close-btn{
        top: 1px;
        right: 35px;
    }
    #resize #menu li{
        padding-top: 0;
        margin-top: 15px;
        margin-left: -3px;
        font-size: 20px;
        font-weight: lighter;
    }
    #resize li span{
        font-weight: bolder;
    }

}


#img{
    background-image: url(../img/contact/contact.jpg);
    
}

.card1 {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
}

.card1 a{
    position: absolute;
}

#i1{
    margin-top: 326px;
    margin-left: 8px;
}

#i2{
    margin-top: 280px;
    margin-left: 5px;
}

#i3{
    margin-top: 240px;
    margin-left: 1px;
}

.card1-img {
    background-position: center;
    width: 80%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.card1-content {
    padding: 8% 5%;
    box-sizing: border-box;
    width: 50%;
    background: #fff;
}



.card1-theme {
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Quicksand" !important;
    letter-spacing: 10px;
    color: grey;
}


.card1-header {
    font-weight: lighter;
    font-size: 15px;
    line-height: 1;
    margin: 3vmin 0 3.5vmin;
    color: #000;
    font-family: "Quicksand" !important;
}

@media(max-width: 815px){
    .card1-theme{
        font-size: 10px;
    }
    .card1-header{
        font-size: 8px;
    }
    .card1-para{
        font-size: 15px;
    }

    .card1-content{
        margin-top: 150px;
    }

    .card1-img{
        background-size: auto;
    }

    #i1{
        margin-top: 476px;
        margin-left: 8px;
    }
    
    #i2{
        margin-top: 430px;
        margin-left: 5px;
    }
    
    #i3{
        margin-top: 390px;
        margin-left: 1px;
    }
}

@media(max-width: 815px) and (orientation:landscape){

    .card1-content{
        margin-top: -18px;
    }
    #i1{
        margin-top: 326px;
        margin-left: 8px;
    }
    
    #i2{
        margin-top: 280px;
        margin-left: 5px;
    }
    
    #i3{
        margin-top: 240px;
        margin-left: 1px;
    }
    
}

.card1-para {
    font-size: 1.8vmin;
    line-height: 1.8;
    margin-bottom: 2.5vmin;
    color:#000;
    font-family: "Quicksand" !important;
}


input{
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid  #929292;
}

#msg{
    margin-top: 60px;
}

::-webkit-input-placeholder{
    color: grey;
    font-size: 12px;
    letter-spacing: 2px;
}

::-moz-placeholder{
    color: grey;
    font-size: 12px;
    letter-spacing: 2px;
}

