html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Quicksand" !important;
    font-weight: lighter;
  }
  
  nav {
    position: fixed;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: inline-block;
    
  }
  
  nav.scrolled {
    background-color: #fff !important;
    transition: background-color 300ms linear;
  }
  
  .menu-open {
    line-height: 60px;
    left: 1.4em;
  }
  
  
  nav #brand{
    float: left;
    display: block;
    margin-top: 8px;
    margin-left: 15px;
    line-height: 80px;
    font-weight: bold;
    position: absolute;
  }
  
  nav #brand a{
    color: #000;
    transition: all 0.3s ease-out;
  }
  
  
  nav #brand a:hover{
    text-decoration: none;
  }
  
  
  
  #toggle{
   text-align: center;
   position: fixed;
   right: 30px;
   top: -40px;
   font-weight: 300;
   z-index: 2;
   width: 30px;
   height: 30px;
   cursor: pointer;
   float: right;
   transition: all 1s ease-out; 
   margin-top: 85px;
}

#close-btn{
    position: absolute;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    top: 20px;
    line-height: 80px;
}

#resize{
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu{
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li{
    display: block;
    text-align: center;
    padding: 10px 0px;
    margin-left: 50px;
    font-size: 35px;
    min-height: 50px;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.3s ease-out;
}



#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a{
    text-decoration: none;
    color:#000;
}



#resize #menu li a:hover{
    text-decoration: none;
    color: grey;
}

#resize.active{
    visibility: visible;
    opacity: 1;
}

#toggle.on {
    visibility: hidden;
    opacity: 0;
}

@media(max-width: 815px){
   #toggle{
       margin-top: 6px;
       margin-left: 4px;
       position: absolute;
   }
   #close-btn{
       top:1px;
       right: 57px;
   }
   #resize #menu li{
       padding-top: 30px;
       margin-top: 40px;
       margin-left: -47px;
       font-size: 20px;
       font-weight: lighter;
   }
   #resize li span{
       font-weight: bolder;
   }
   #resize #menu li a:hover{
      text-decoration: none;
      color: grey;
  }
 
   
}

@media(max-width: 815px) and (orientation:landscape){
  #toggle{
      margin-top: 6px;
      margin-right: 4px;
  }
  #close-btn{
      top: 1px;
      right: 35px;
  }
  #resize #menu li{
      padding-top: 0;
      margin-top: 15px;
      margin-left: -3px;
      font-size: 20px;
      font-weight: lighter;
  }
  #resize li span{
      font-weight: bolder;
  }

}

  #container{
      position: absolute;
      margin-top: 100px;
      margin-left: 300px;
  }

  .container-show{
     width: 80%;
     height: 50%;
     position: fixed;
     margin-left: 150px;
     margin-right: 130px;
  }

  .container-show1{
   width: 80%;
   height: 50%;
   position: fixed;
   margin-top: 120px;
   margin-left: 150px;
   margin-right: 130px;
}

.container-show1 h1{
   text-align: center;
   margin-bottom: 30px;
}

#password{
   margin-top: 20px;
   margin-left: 185px;
}

#resp{
   display: none;
 }

@media(max-width: 815px){

   
   #container{
      margin-left: 30px;
      margin-right: 30px;
   }

   .container-show1{
      margin-left: 35px;
      margin-right: 25px;
      position: absolute;
   }

   #resp{
      display: block;
    }

   
}

@media(max-width: 815px) and (orientation:landscape){

   
   #container{
      margin-left: 30px;
      margin-right: 30px;
   }

   .container-show1{
      margin-left: 65px;
      margin-right: 25px;
      position: absolute;
   }

   
}